
/* general styles */


*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(16px, 3vw, 20px);
    color: black;
}

body {
    margin: 0% auto;
    background-color: #456;
}

main {
    padding: 20vh 1vw 0%;
}

input {
    color: black;
}


/* utility classes */

.flex {
    display: flex;
    flex: 1;
}

.col {
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}


/* list styling */


ul {
    padding: 0;
    background-color: white;
}

li {
    position: relative;
    display: flex;
    background-color: white;
    /* height: 2rem; */
    list-style: none;
    padding: 0.2rem 0.2rem 0.2rem 0;
    border-top: solid 0.05rem #999;
    border-bottom: hidden;
    border-left: solid 0.05rem #999;
    border-right: solid 0.05rem #999;
    border-radius: 0px 6px 6px 0px;
}

.list-wrapper {
    background-color: whitesmoke;
    border: solid 3px #444;
    border-radius: 6px;
    max-width: 30rem;
    min-width: 15rem;
    justify-content: center;
    padding: 1rem;
}

.input-container {
    border: solid 1px #999;
    position: relative;
    border: solid 0.05rem #999;
    border-radius: 0px 6px 6px 0px;
    padding: 0.2rem;
}

.input-error::after {
    font-size: 0.8rem;
    content: "Length must be at least 4 characters!";
    display: block;
    position: absolute;
    background-color: rgb(253, 255, 231);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: solid 2px #444;
    top: -2rem;
}

#input-textfield {  
    font-size: 1rem;
    height: 2rem;
    min-width: 1rem;
    border: hidden;  
}

#item-list {
    border-bottom: solid 0.05rem #999;
    border-bottom-right-radius: 7px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 2rem;
    width: 2rem;
    min-width: 31px;
    border-right: solid 1px #999;

}

.list-checkbox {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    -webkit-appearance: none;
    appearance: none;
    background-color: white;

    width: 1rem;
    height: 1rem;
    border: 1px solid #aaa;
    border-radius: 10%;

}

.list-checkbox::after{
    position: absolute;
    content: "";
    display: none;
    border: solid #7a7;
    border-width: 0px 6px 6px 0px;
    border-radius: 0px 7px 0px 7px;
    transform: rotate(40deg);
    width: 0.8rem;
    height: 1.4rem;
    right: 1rem;
    left: 0.1rem;
    bottom: -0.1rem;
}

.list-checkbox:checked::after {
    display: flex;
}

.list-textfield {
    position: relative;
    padding-left: 0.5rem;
    min-width: 1rem;
    flex-grow: 1;
    font-size: 1rem;
    background-color: #fff;
    position: relative;
    border: hidden;
}

.completed {
    background: linear-gradient(to right, #ccc, 95%, white) ;
    color: #777;
}

.hidden {
    display: none;
}

/* button styling */

button {
    font-size: 0.8rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #467;
    color: white;
    border:solid 4px #689;
    border-radius: 5px;
}



#add-item-btn {
    flex: 1;
    max-width: 2rem;   
}

.option-menu {
    display: flex;
    /* flex: 1; */
    /* flex-basis: 2rem; */
}

.option-btn {

    display: flex;
    /* flex: 1; */
    flex-grow: 0;
    flex-basis: 2rem;
    /* width: 2rem; */
}

.option-items {
    display: flex;
    flex: 1;
    overflow: hidden;
    width: 0;
    position: absolute;
    transform: translateX(-100%);
    border-radius: 5px;
    height: 2rem;
    opacity: 0%;
    transition-delay: 50ms;
    transition-duration: 100ms;
    transition-timing-function: linear;
    z-index: 1;
    gap: .15rem;


}

.option-items-open {
    width: 4.3rem;
    opacity: 100%;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}


#completed-btn-cont {
    display: none;
    gap: 1rem;
}


#clear-completed-btn,
#hide-completed-btn {
    flex: 1;
    height: 2rem;
    padding: 1rem
}
#counters {
    justify-content: space-evenly;
}
#counters > * {
    font-size: 0.7rem;
}

@media screen and (max-width: 360px) {
    #counters {
        flex-direction: column;
        align-items: center;
    }
    #counters > * {
        height: 1.2rem;
    }

}