
/* general styles */


*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
}

body {
    margin: 0% auto;
    background-color: #456;
}

main {
    padding: 20vh 3vw 0%;
}

input {
    color: black;
}


/* utility classes */

.flex {
    display: flex;
    flex: 1;
}

.col {
    flex-direction: column;
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}


/* list styling */


ul {
    border: solid 1px #999;
    padding: 0;
}

li {
    display: flex;
    background-color: white;
    height: 2rem;
    list-style: none;
}

.input-container {
    border: solid 1px #999;
    position: relative;

}
/* .input-container[data-tool-tip] { 
    position: relative;
}     */
.input-error::after {
    font-size: 0.8rem;
    content: "Length must be at least 4 characters!";
    display: block;
    position: absolute;
    background-color: rgb(253, 255, 231);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: solid 2px #444;
    left: 17%;
    top: -2rem;
    transform: scale(1);
    transition: transform ease-out 100ms;
    
    
}

/* .input-container[data-tool-tip]:hover::after {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform ease-out 100ms;
} */

#input-textfield {  
    font-size: 1rem;
    height: 2rem;
}


.list-wrapper {
    background-color: whitesmoke;
    border: solid 3px #444;
    border-radius: 6px;
    max-width: 100%;
    min-width: 300px;
    justify-content: center;
    padding: 1rem;

}

@media screen and (min-width: 530px) {
    .list-wrapper {
        max-width: 25rem;
    }
}

.checkbox-container {
    position: relative;
}

.list-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    margin: 0%;
    width: 2rem;
    height: 2rem;
    border: 1px solid #444;
}

.list-checkbox::after{
    position: absolute;
    content: "";
    display: none;
    border: solid #444;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    width: 0.5rem;
    height: 1rem;
    top: 0.4rem;
}
.list-checkbox:checked::after {
    display: flex;
}

.list-textfield {
    flex: 1;
    flex-basis: 90%;
    font-size: 1rem;
    background-color: #fff;
    height: inherit;
    position: relative;
    border-color: #aaccff;
}

.completed {
    background-color: #ccc;
    color: #777;
}

.hidden {
    display: none;
}

/* button styling */

button {
    font-size: 0.8rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: white;
    border:solid 2px #999;
}



#add-item-btn {
    flex: 1;
    max-width: 2rem;   
}

.option-menu {
    display: flex;
    flex: 1;
    flex-basis: 2rem;
}

.option-btn {
    display: flex;
    flex: 1;
    width: 2rem;
}

.option-items {
    display: flex;
    flex: 1;
    background: #ccc;
    overflow: hidden;
    width: 0;
    position: absolute;
    transform: translateX(-100%);
    height: 2rem;
    opacity: 0%;
    transition-delay: 50ms;
    transition-duration: 100ms;
    transition-timing-function: linear;
    z-index: 1;
    padding: 0 .15rem;
    gap: .15rem;
}

.option-items-open {
    width: 4.5rem;
    opacity: 100%;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

#close-modal-btn {
    width: fit-content;
    height: 2rem;
}

#completed-btn-cont {
    display: none;
    gap: 1rem;
}


#clear-completed-btn,
#hide-completed-btn {
    flex: 1;
    height: 2rem;
}
#counters {
    justify-content: space-evenly;
}
#counters > * {
    font-size: 0.7rem;

}